<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::script})}" xmlns:th="http://www.thymeleaf.org">
<!-- <script src="https://cdn.tailwindcss.com"></script> -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>

<body>
    <div id="content">
        <div class="grid grid-cols-12 mt-4">
            <div class="col-span-2 md:col-span-3 lg:col-span-4 xl:col-span-3"></div>
            <div class="col-span-8 md:col-span-6 lg:col-span-4 xl:col-span-6">

                <a
                    class="block  p-6 bg-white border-t-blue-600 border-t-8 rounded-xl shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-t-blue-700 dark:hover:bg-gray-700">
                    <div th:replace="message::messagebox"></div>

                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Sign Up here</h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Start managing contact in cloud</p>
                    <form th:action="@{'do-register'}" method="post" th:object="${userForm}" class="mt-4" novalidate>
                        <div class="mb-3">
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                                Name</label>
                            <input type="text" id="name" th:field="*{name}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Enter Your Name" required />
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{userName}"
                                class="text-red-700 py2 px-1">
                                Name is required</p>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                                email</label>
                            <input type="email" id="email" th:field="*{email}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="name@flowbite.com" required />
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-red-700 py2 px-1">
                            </p>
                        </div>
                        <div class="mb-3">
                            <label for="password"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                                password</label>
                            <input type="password" id="password" th:field="*{password}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                required />
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                class="text-red-700 py2 px-1">
                            </p>
                        </div>
                        <div class="mb-3">
                            <label for="password"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone
                                Number</label>
                            <input type="text" id="number" th:field="*{phoneNumber}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                required />
                            <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
                                class="text-red-700 py2 px-1">
                            </p>
                        </div>

                        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                            message</label>
                        <textarea id="message" rows="4" th:field="*{about}"
                            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Write your thoughts here..."></textarea>
                        <p th:if="${#fields.hasErrors('about')}" th:errors="*{about}" class="text-red-700 py2 px-1">
                        </p>

                        <div class="mt-4 flex justify-center space-x-3  ">
                            <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
                                type="submit">
                                SignUp</button>
                            <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
                                type="reset">
                                Reset</button>
                        </div>

                    </form>
                </a>

            </div>
        </div>
    </div>
    <script>
        console.log('this is register page');
    </script>
</body>

</html>